beautifulsoup4==4.12.3
clip==0.2.0
comet_ml==3.43.1
coremltools==7.2
dill==0.3.8
Flask==1.1.2
flatbuffers==24.3.25
hub_sdk==0.0.8
ipython==8.12.3
matplotlib==3.4.2
numpy
openai==1.34.0
opencv_python
openvino==2024.1.0
pafy==0.5.5
pandas==1.5.3
Pillow
protobuf==3.20.3
psutil==5.9.8
py_cpuinfo==9.0.0
pymodbus==3.6.8
PyYAML
Requests
roboflow==1.1.32
scipy==1.13.1
seaborn==0.11.0
Shapely==2.0.4
super_gradients
tensorflow==2.16.1
torch==2.3.0
torchvision==0.18.0
tqdm==4.66.4
ultralytics_thop==2.0.0
